ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100vh;
}

.bg {
    /* The image used */
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.info {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    left: 25%;
}

.recipe-title {
    font-size: 2em !important;
    color: white !important;
}

.logout {
    font-size: 1.5em;
    top: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    margin: 20px !important;
}

.white {
    color: white !important;
}

.group {
    margin: 50px auto;
    width: 50%;
}