{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <h1 class="display-3">Login</h1>
    <p>
    Login or <a href="/register">Register</a> for an account.
    </p>

    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form.errors %}
        <div class="alert alert-danger">
            <ul>
            {% for error in form.errors[field] %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}

        {% for field in form 
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(class_='form-control shadow')}}
        </p>
        {% endfor %}
        <div class="text-right">
        <button type="submit" class="btn btn-primary shadow">Login</button>
        </div>
    </form>
{% endblock %}