{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <a class="float-right white m-2 logout" href="/logout">Logout</a>

    <div class="container group info">
        <h1 class="display-5 text-center white my-3">Bon appétit, {{user.username}}! </h1>

        <div class="jumbotron d-flex justify-content-center flex-column text-center">
            <h3>Need a yummy dessert suggestion?</h3>

            <button id="get-recipe" class="btn btn-success my-3">Click me for a recipe</button>

            <div id="information-area">
            </div>

            <div id="link-area"></div>
        </div>

        <div class="title container">
            <span class="recipe-title">My Recipes</span>

            <a class="btn btn-sm btn-outline-primary ml-2 mb-2" href="/recipes/add">
                <i class="fas fa-plus"></i>
            </a>
        </div>

        <ul class="list-group my-3">
            {% for recipe in recipe_list %}
                <li class="list-group-item">
                    <span class="m-0 float-left">
                        {{recipe.title}}
                    </span>

                    <a class="mx-2 float-left" href="/recipes/{{recipe.id}}/edit">
                        <i class="far fa-eye"></i>
                    </a>

                    <a class="text-danger float-right mx-1" href="/recipes/{{recipe.id}}/delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}