{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="display-4">Welcome, {{user.username}}! </h1>

    <div class="jumbotron d-flex justify-content-center flex-column">
        <h3>Need a yummy dessert suggestion?</h3>

        <button id="get-recipe" class="btn btn-success my-3">Click me for a recipe</button>

        <div id="information-area">
        </div>

        <div id="link-area"></div>
    </div>

    {% for recipe in user.recipes %}
        <div class="my-3 p-2" style="border: 1px solid black;">
            <span class="m-0">{{recipe.title}}</span>

            <a class="mx-1" href="/recipes/{{recipe.id}}/edit">
                <i class="fas fa-pencil-alt"></i>
            </a>

            <a class="text-danger float-right mx-3" href="/recipes/{{recipe.id}}/delete">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    {% endfor %}

    <a class="btn btn-danger" href="/logout">Logout</a>

    <a class="btn btn-primary" href="/recipes/add">Add Recipe</a>
{% endblock %}